.react-calendar .holiday {
    background-color: #ffdddd !important;
    color: red !important;
    font-weight: bold;
  }
  
  .react-calendar .weekend {
    background-color: #fff0f0 !important;
  }

main {
  margin-left: 240px; /* Adjust this if your sidebar is wider or narrower */
  padding: 20px;
}

.table-wrapper {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}